@font-face{
    font-family: 'caxo';
    src: url('fontes/Caxo.otf') format('truetype');
}

body{
    background-image: linear-gradient(to right, rgb(25, 213, 219), white);
}

.container{
    ...
    position: relative;
}

.bloco{
    width: 400px;
    height: 300px;
    background-color: white;
    position: absolute;
    top:50%;
    left:50%;
    margin:-150px 0 0 -200px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 5px #888888;
    text-align: center;
}

h1{
    text-align: center;
    color: rgb(25, 213, 219);
    font-weight: none;
    font-family: 'caxo';
    letter-spacing: 3px;
    margin: 30px 0 30px;
}

.login{
    height: 40px;
    width: 275px;
    margin-bottom: 15px;
    padding: 0 0 0 10px;
    font-size: 20px;
    border:none;
    border-bottom: 2px solid black;
    background-color: rgb(231, 229, 229);
    border-radius: 5px;
    font-size: 15px;
}

.login:focus{
    border: none;
}

.senha:focus{
    border:none;
}

.senha{
    height: 40px;
    width: 275px;
    padding: 0;
    font-size: 20px;
    padding: 0 0 0 10px;
    border:none;
    border-bottom: 2px solid black;
    background-color: rgb(231, 229, 229);
    border-radius: 5px;
    font-size: 15px;
}

.caixa{
    text-align: center;
}

.caixa_um{
    text-align: center;
}

button{
    padding: 10px 15px;
    text-align: center;
    background-color: rgb(36, 160, 190);
    color:white;
    border:none;
    box-shadow: 0px 2px 3px 1px #888888;
    border-radius: 5px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-weight: bold;
    font-size: 15px;
    font-family: sans-serif;
}

button:hover{
    background-color: rgb(24, 107, 128);
    cursor:pointer;
}